:root{
    --black: #0A0A0A;
    --white: #f8f8f8;
}

*{
    margin: 0;
    border: 1px solid red; /* For Development Purpose */
}

body{
    background-color: var(--white);
}

h1, h2, h3, p{
    font-family: 'Inter', sans-serif;
    color: var(--black);
}