:root{
    --black: #0A0A0A;
    --white: #f8f8f8;
    --grey: #919090;
}

/* Mobile Styles - below 768px */
@media screen and (max-width: 767px) {
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 27px;
    }
    h3 {
      font-size: 22px;
    }
    p {
      font-size: 17px;
    }
    caption {
      font-size: 14px;
    }
    .flex-container{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .flex-container h1{
        display: block;
        width: 100%;
    }
    .text-container {
        margin-bottom: 1em;
    }
  }
  
  /* Tablet Styles - 768px to 1023px */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
      font-size: 55px;
    }
    h2 {
      font-size: 34px;
    }
    h3 {
      font-size: 27px;
    }
    p {
      font-size: 21px;
    }
    caption {
      font-size: 17px;
    }
  }
  
  /* Desktop Styles - 1024px and above */
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 52px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
    caption {
      font-size: 13px;
    }
  }

*{
    margin: 0;
    /* For Development Purpose */
    border: 1px solid red;
}

nav {
    width: 100%;
}

.nav-flex{
    display: flex;
    width: 60%;
    padding: 1em 0;
    margin: 0 auto;
    justify-content: space-between;
}

nav a {
    color: var(--grey) !important;
    text-decoration: none;
}

body{
    height: 90vh;
    background-color: var(--white);
}

h1, h2, h3, p, a{
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

.flex-container{
    display:flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.centered{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.active-page{
    font-weight: 700;
}

img {
    max-width: 85%;
    border-radius: 1.5rem;
}

.slides-container{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: center;
}

.flex-component h1 {
    margin-right: 2em;
}