:root {
  --black: #0a0a0a;
  --white: #f8f8f8;
  --grey: #919090;
}

/* Mobile Styles - below 768px */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 17px;
  }
  p.cardCaption {
    font-size: 14px;
  }
  .flex-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .flex-container h1 {
    display: block;
    width: 100%;
  }
  .text-container {
    margin-bottom: 1em;
    margin-right: 0 !important;
  }
}

/* Tablet Styles - 768px to 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 27px;
  }
  p {
    font-size: 21px;
  }
  p.cardCaption {
    font-size: 17px;
  }
}

/* Desktop Styles - 1024px and above */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  /* For Development Purpose */
  /* border: 1px solid red; */
}

nav {
  width: 100%;
}

.nav-flex {
  display: flex;
  width: 60%;
  padding: 1em 0;
  margin: 0 auto;
  justify-content: space-between;
}

nav a {
  color: var(--grey) !important;
  text-decoration: none;
}

body {
  height: 90vh;
  background-color: var(--white);
}

h1,
h2,
h3,
p,
a {
  font-family: "Inter", sans-serif;
  color: var(--black);
}

.title {
  margin-bottom: 0.2em;
}

.flex-container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.centered {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.active-page {
  font-weight: 700;
}

.slides-flex img {
  border-radius: 1.5rem;
}

/* Slider function from: https://www.w3schools.com/howto/howto_js_slideshow.asp */

.slides-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-items: center;
  text-align: center;
}

.slides-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-container {
  margin-right: 2em;
}

.slider-control {
  text-align: center;
}

.mySlides {
  display: none;
  max-width: 25em;
}

.mySlides img {
  max-width: 100%;
}

.prev,
.next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--grey);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* End of Slider Function */

.page-title{
  width: 80%;
  max-width: 800px;
  margin: 2em auto;
}

/* Projects Page */
.projects-container {
  width: 80%;
  max-width: 800px;
  margin: 0em auto 2em auto;
  text-align: left;
}

.sort-dropdown-container {
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.projectCard {
  margin-bottom: 2em;
  text-align: left;
}

.projectCard img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.4em;
}