:root {
  --black: #0a0a0a;
  --white: #f8f8f8;
  --grey: #919090;
  --red: #FF0000;
}

/* Mobile Styles - below 768px */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
  }
  p, label {
    font-size: 17px;
    line-height: 28px;
  }
  p.cardCaption {
    font-size: 14px;
  }
  .flex-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .flex-container h1 {
    display: block;
    width: 100%;
  }
  .text-container {
    margin-bottom: 1em;
    margin-right: 0 !important;
  }

  .top-about{
    flex-direction: column;
    margin-bottom:2em !important;
    padding-bottom:2em;
    border-bottom: 1px solid var(--grey);
  }

  .top-about p {
    margin-top: 2em;
  }

  .mid-about{
    flex-direction: column;
    margin-top: 2em !important;
    padding-bottom:2em;
    border-bottom: 1px solid var(--grey);
  }

  .mid-about .introductionText {
    margin-top: 2em;
  }

  .introductionText{
    width: 100% !important;
  }

  .quotemark {
    width: 70px !important;
    height: 70px !important;
  }
  
  .quote{
    flex-direction: column;
  }

  .quotetext {
    margin-top: 0.5em;
    margin-left: 0 !important;
  }

  .about-tools{
    height: 220px !important;
  }

  .figma-text{
    margin-left: 1.6em !important;
  }

  .tools-img {
    max-height: 44px !important;
  }

  .figma-img{
    max-height: 80px !important;
  }

  .alt-tools-img-container {
    width: 160px !important;
  }

  .figma-text p.cardCaption{
    margin-bottom: -0.3em;
  }

  .work{
    margin-top: 2em;
  }

  .history>div {
    width: 100% !important;
  }

  .contact-container {
    flex-direction: column;
  }

  .form-container {
    width: 100% !important;
  }
  
  .contact-list-container {
    width: 100% !important;
    margin-top: 2em;
  }

  .button-container {
    display: flex;
    width: 90%;
    justify-content: flex-end;
  }

  .top-content {
    flex-direction: column !important;
    margin-top: 0 !important;
  }

  .image-section {
    width: 100% !important;
  }

  .text-section h1, h2, .mid-content h2 {
    margin-top: 0.5em;
    margin-bottom: 0.3em !important;
  }

  .project-head-image {
    order: -1;
    transform-style: flat !important;
    perspective: none !important;
  }

  .project-head-image img {
    transform: none !important;
    width: 100%;
  }

  .text-section {
    width: 100% !important;
  }

  .project-highlight-image {
    width: 100% !important;
    height: 32em !important;
    margin: 0 auto;
  }
  
  .hl-image-content {
    margin: 3em 0 0 0 !important;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .hl-image-content .text-section{
    order: -1;
    margin-bottom: 3em;
  }

  .highlight-image {
    left: 22.5% !important;
    width: 40% !important;
    transform: translate(-50%, -50%);
  }

  .highlight-image img {
    border-radius: 10px !important;
  }
  
  .highlight-image.hi-front {
    transform: translate(-20px, 75px) rotate(-12deg) !important;
  }
  
  .highlight-image.hi-back {
    transform: translate(80px, 20px) rotate(15deg) !important;
  }

  .highlight-image-landscape {
    top: 25px !important;
    left: 50% !important;
    width: 90% !important;
  }
  
  .highlight-image-landscape img {
    display: block;
    border-radius: 25px;
    width: 100%;
    height: auto;
  }
  
  .highlight-image-landscape.hi-front{
    transform: translate(-100px, 150px) !important;
  }

  .highlight-image-landscape.hi-front:hover{
    transform: translate(-100px, 150px) !important;
    transition: none !important;
  }
  
  .highlight-image-landscape.hi-back:hover{
    transform: translate(-170px, 0px) !important;
    transition: none !important;
  }

  .mid-content{
    width: 100% !important;
    flex-direction: column;
    margin: 3em auto !important;
  }

  .mid-content-text{
    width: 100% !important;
  }

  .mid-content-text:nth-child(2){
    order: -1;
    margin: 0 auto 3em auto;
  }

  .bottom-content {
    margin-top: 3em !important;
    width: 100% !important;
  }

  .grid-gallery{
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px !important;
  }

  .grid-gallery-landscape{
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .grid-gallery-landscape .grid-item img{
    transform: rotate(0deg) !important;
  }

  .grid-gallery .grid-item:nth-child(2){
    margin-top: 20px !important;
  }
  
  .grid-gallery .grid-item:nth-child(4){
    margin-top: 20px !important;
  }

  .project-navigation-container{
    margin: 5em auto 4em auto !important;
    width: 100% !important;
  }

  .nav-left img {
    margin-right: 0.2em !important;
  }

  .nav-right img{
    margin-left: 0.2em !important;
  }

  .project-navigation img{
    height: 35px !important;
  }

  .nav-text{
    font-size: 14px;
  }

  .open-image{
    display: inline-block !important;
    margin-top: 1em;
  }
}

@media screen and (max-width: 435px) {
  .project-highlight-image {
    height: 25em !important;
  }
}

@media screen and (min-width: 625px) and (max-width: 765px) {
  .project-highlight-image {
    height: 40em !important;
  }
}

/* Tablet Styles - 768px to 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 27px;
  }
  p, label {
    font-size: 21px;
  }
  p.cardCaption {
    font-size: 17px;
  }
  .text-section h1 {
    margin-bottom: 43px !important;
  }
}

/* Desktop Styles - 1024px and above */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  p, label {
    font-size: 16px;
    line-height: 24px;
  }
  .top-about {
    align-items: center;
    justify-content: space-between;
  }

  .mid-about {
    align-items: center;
    justify-content: space-between;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  /* For Development Purpose */
  /* border: 1px solid var(--red); */
}

nav {
  width: 100%;
  background-color: var(--white);
  position: sticky;
  top:0;
  z-index: 100;
}

.nav-flex {
  display: flex;
  width: 60%;
  padding: 1em 0;
  margin: 0 auto;
  justify-content: space-between;
}

nav a {
  color: var(--grey) !important;
  text-decoration: none;
}

body {
  display: flex;
  background-color: var(--white);
  overflow-y: scroll;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex:1;
  flex-direction: column;
}

.homepage .content {
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
p,
a,
label,
input[type="email"],
textarea {
  font-family: "Inter", sans-serif;
  color: var(--black);
}

.title {
  margin-bottom: 0.2em;
}

.flex-container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.horizontally-centered {
  display: flex;
  justify-content: center;
}

.vertically-centered{
  display: flex;
  align-items: center;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.slides-flex img {
  border-radius: 1.5rem;
}

/* Slider function from: https://www.w3schools.com/howto/howto_js_slideshow.asp */

.slides-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-items: center;
  text-align: center;
}

.slides-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-container {
  margin-right: 2em;
}

.slider-control {
  text-align: center;
}

.mySlides {
  display: none;
  max-width: 25em;
}

.mySlides img {
  max-width: 100%;
}

.prev,
.next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--grey);
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* End of Slider Function */

.page-title{
  width: 80%;
  max-width: 800px;
  margin: 2em auto;
}

/* Projects Page */
.projects-container {
  width: 80%;
  max-width: 800px;
  margin: 0em auto 2em auto;
  text-align: left;
}

.sort-dropdown-container {
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.projectCard {
  margin-bottom: 2em;
  text-align: left;
}

.projectCard img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.4em;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor:pointer;
}

/* About Page */

.profile-picture{
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.profile-picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.introductionText {
  width: 50%;
  text-align: left;
}

.top-about {
  display: flex;
  margin-bottom: 3.5em;
}

.mid-about {
  display: flex;
  margin-top: 3.5em;
}

.page-layout {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

.quotemark {
  width: 50px;
  height: 50px;
}

.quote{
  display: flex;
  width: 300px;
}

.quotetext {
  width: 100%;
  margin-left: 0.8em;
}

.about-tools {
  display: flex;
  justify-content: center;
  height: 220px;
}

.figma-container {
  display:flex;
  align-items: center;
}

.tools-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.tools-img {
  max-height: 55px;
}

.figma-img{
  max-height: 100px;
}

.alt-tools-img-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.figma-text {
  margin-left:1.5em;
}

.history {
  align-items: flex-start;
}

.history>div {
  width: 45%;
}

.education-entry {
  margin-top:1.5em;
}

.linkedinBtn {
  margin-top: 1em;
  padding: 9px 40px;
  border-radius: 25px;
  border: 0.5px solid var(--black);
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.linkedinBtn:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.last-section {
  padding-bottom: 80px;
}

/* Contact page */
.contact-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2em;
}

.form-container {
  width: 55%;
}

.contact-list-container {
  width: 35%;
}

.contact-list-entry {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.contact-list-entry img {
  width: 40px;
  margin-right: 1em;
}

label {
  font-weight: bold;
}

.messageTextArea {
  width: 90%;
  min-height: 10em;
}

.emailInput {
  width: 90%;
  border: 1px solid var(--black);
  min-height: 2.3em;
}

textarea, input[type="email"] {
  border-radius: 0.2rem;
  border: 1px solid var(--black);
}

input[type="submit"] {
  display: inline-flex;
  padding: 9px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 0.5px solid var(--black);
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input[type="submit"]:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.red {
  color: var(--red);
}

/* Project Respective Pages */

.project-content {
  width: 80%;
  margin: 2em auto 0 auto;
}

.top-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5em;
}

.text-section {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section h1 {
  margin-bottom: 41px;
}

.text-section h2 {
  margin-bottom: 21px;
}

.image-section {
  width: 650px;
}

.project-head-image {
  transform-style: preserve-3d;
  perspective: 800px;
}

.project-head-image img {
  transform: rotateY(-15deg) rotateX(5deg);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.project-head-image:hover{
  transform: rotateY(5deg) rotateX(9deg);
  transition: transform 0.3s ease;
}

.project-highlight-image {
  position: relative;
  height: 800px;
}

.highlight-image {
  position: absolute;
  top: 0;
  left: 250px;
  width: 40%;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.highlight-image img {
  display: block;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.highlight-image.hi-front {
  transform: translate(-170px, 225px) rotate(-12deg);
  z-index: 2;
}

.highlight-image.hi-back {
  transform: translate(0px, 0px) rotate(15deg);
  z-index: 1;
}

.highlight-image.hi-front:hover{
  transform: translate(-155px, 230px) rotate(-8deg);
  transition: transform 0.3s ease;
}

.highlight-image.hi-back:hover{
  transform: translate(15px, 15px) rotate(11deg);
  transition: transform 0.3s ease;
}

.highlight-image-landscape {
  position: absolute;
  top: 75px;
  left: 150px;
  width: 80%;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.highlight-image-landscape img {
  display: block;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.highlight-image-landscape.hi-front{
  transform: translate(0px, 270px);
  z-index: 2;
}

.highlight-image-landscape.hi-back{
  transform: translate(-170px, 0px);
  z-index: 1;
}

.highlight-image-landscape.hi-front:hover{
  transform: translate(30px, 280px) rotate(3deg);
  transition: transform 0.3s ease;
}

.highlight-image-landscape.hi-back:hover{
  transform: translate(-200px, -10px) rotate(-3deg);
  transition: transform 0.3s ease;
}

.hl-image-content {
  margin-bottom: 3em;
}

.mid-content{
  display: flex;
  width: 80%;
  margin: 5em auto;
  justify-content: space-between;
}

.mid-content.design-iteration {
  flex-direction: column;
}

.mid-content-text{
  width: 53%;
}

.mid-content-text:nth-child(2){
  width: 35%;
}

.mid-content h2{
  margin-bottom: 21px;
}

.bottom-content{
  width: 80%;
  margin: 2em auto 3em auto;
}

.bottom-content div{
  margin: 0 auto;
}

.grid-gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 0 auto;
}

.grid-gallery-landscape{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 0 auto;
}

.grid-item img{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(20px) rotate(-2deg);
}

.grid-gallery .grid-item:nth-child(2){
  margin-top: 40px;
}

.grid-gallery .grid-item:nth-child(4){
  margin-top: 40px;
}

.grid-item img:hover{
  transform: translate(-3px, 17px) rotate(-2deg);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.20);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-navigation-container {
  margin: 7.5em auto 5em auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.nav-right{
  text-align: right;
}

.project-navigation{
  display: flex;
  text-decoration: none;
  align-items: center;
  font-style: italic;
}

.project-navigation img {
  height: 50px;
}

.nav-left img{
  margin-right: 1em;
}

.nav-right img{ 
  margin-left: 1em;
}

.open-image{
  display: none;
}